<section  >
  <div class="ui list"> 
    #{list items:users, as:'user'}
      <div class="ui two column grid segment item"> 
      
       <div class="ui two wide column">
        <div class="ui small image">
		<img src="/profile/getthumbnail/${user.id}">
		</div> 
         </div>
          <div class=" left aligned column">
		${user.firstName} ${user.lastName} <a href="members/follow/${user.id}"> (follow) </a>   #{if user.isOnline()=="Online"}
        <i class="user green icon"></i>
       #{/if}
       #{else}
       <i class="user red icon"></i>
       #{/else}
          <br>Status: <span style="font-family: 'Gloria Hallelujah', serif;"> &nbsp; ${user.statusText} </span>
          <br><a href="publicblog/${user.id}">  Visit Blog  <i class="arrow right icon"></i> </a>  
        </div>
        </div>
     
    #{/list}
  </div>
</section>