#{extends 'main.html' /}
#{set title:'Edit Details' /}

<nav class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/home"><i class="home icon"></i> Home</a></li>
    <a class="item" href="/members"><i class="users icon"></i> Members</a>
    <a class="item" href="/profile"><i class="user icon"></i>Profile</a>
    <a class="item" href="/blog"><i class="write icon"></i> Blog</a>    
   <div class="ui simple dropdown  item">
     <i class="setting icon"> </i>Account Settings
    <i class="dropdown icon"></i>
    <div class="menu">
        <a class="item" href="/logout">Logout</a>
         <a class="active item" href="/editprofile">Edit Profile</a>
         </div>
         </div>
  </div>
</nav> 

<section style="background-image: url('/accounts/getpicture3'); background-size: cover;" class="ui two column middle aligned grid raised form segment">
  <div class="column">
    <img src="/public/images/simpsons3.gif" class="ui large image">
  </div>
  <div class="column">
	  <form action="/editprofile/change" method="POST">
	    <div class="two fields">
	      <div class="field">
	        <label>First Name</label>
	        <input placeholder="First Name" type="text" name="firstName" value="${user.firstName}">
	      </div>
	      <div class="field">
	        <label>Last Name</label>
	        <input placeholder="Last Name" type="text" name="lastName" value="${user.lastName}">
	      </div>
	    </div>
	    <div class="two fields">
	      <div class="field">
	        <label>Nationality</label>
	        <input placeholder="Nationality" type="text" name="nationality" value="${user.nationality}">
	      </div>
	      <div class="field">
	        <label>Age</label>
	        <input placeholder="Age" type="text" name="age"value="${user.age}">
	      </div>
	    </div>    <div class="field">
	      <label>Email</label>
	      <input placeholder="Email" type="text" name="email" value="${user.email}">
	    </div>
	    <div class="field">
	      <label>Password</label>
	      <input type="password" name="password" value="${user.password}">
	    </div>
	    <div class="field">
	      <label>Colour (Please type red/green/blue/purple/orange)</label>
	      <input placeholder="Colour"type="text" name="colour"value="${user.colour}">
	    </div>
	    <button class="ui blue submit button">Submit</button>
	  </form>
  </div>	  

</section>