#{extends 'main.html' /} #{set title:'Public Blog Page' /}

#{if currentUser==null}
<nav class="ui inverted menu">
	<div class="left menu">
		<a class="item" href="/login">Back to Login Screen</a>  <a
			class="active item" href="/publicblog/${user.id}"><i class="write icon"></i>${user.firstName}'s
			Blog</a>

	</div>
</nav>
#{/if}
#{else}
<nav class="ui inverted menu">
	<div class="left menu">
		<a class="item" href="/home"><i class="home icon"></i> Home</a> 
		<a class="item" href="/publicprofile/${user.id}"><i class="user icon"></i>${user.firstName}'s Profile</a>
		 <a class="active item" href="/publicblog/${user.id}"><i class="write icon"></i>${user.firstName}'s
			Blog</a>
	</div>
</nav>
#{/else}


<h1 style="font-family: 'Gloria Hallelujah', serif;" class="ui inverted ${user.colour} block header">${user.firstName}
	${user.lastName}'s Blog Posts</h1>
<section style="background-image: url('/accounts/getpicture3'); background-size: cover;" class="ui  segment">


	#{include  "components/displayposts.html" /} 

</section>
