#{extends 'main.html' /}
#{set title:'Profile' /}

<nav class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/home"><i class="home icon"></i> Home</a></li>
    <a class="item" href="/members"><i class="users icon"></i> Members</a>
    <a class="active item" href="/profile"><i class="user icon"></i>Profile</a>
    <a class="item" href="/blog"><i class="write icon"></i> Blog</a>    
   <div class="ui simple dropdown item">
     <i class="setting icon"> </i>Account Settings
    <i class="dropdown icon"></i>
    <div class="menu">
        <a class="item" href="/logout">Logout</a>
         <a class="item" href="/editprofile">Edit Profile</a>
         </div>
         </div>
  </div>
</nav> 

<h1 style="font-family: 'Gloria Hallelujah', serif;"class="ui inverted ${user.colour} block header" >${user.firstName} ${user.lastName}'s Profile </h1>
#{if user.statusText!=null}
<h5 style="font-family: 'Gloria Hallelujah', serif;"class="ui inverted ${user.colour} block header" >Status: ${user.statusText} </h5>
#{/if}
<section style="background-image: url('/accounts/getpicture3'); background-size: cover;" class="ui  two column grid segment">
  <div class="row">
    <div class="column">
   
      #{include "components/profileimages.html" /} 
    </div>
    <div class="column">
     <table class="ui black table segment">
    <thead>
      <tr>
        <th>Email</th>
        <th>Nationality</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>${user.email}</td>
        <td>${user.nationality}</td>
        <td>${user.age}</td>
      </tr>
    </tbody>
  </table>
      #{include "components/statusupdate.html" /}   
    </div>
  </div>
</section>