#{extends 'main.html' /} 
#{set title:'Members' /} 

<nav class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/home"><i class="home icon"></i> Home</a></li>
    <a class="active item" href="/members"><i class="users icon"></i> Members</a>
    <a class="item" href="/profile"><i class="user icon"></i>Profile</a>
    <a class="item" href="/blog"><i class="write icon"></i> Blog</a>    
   <div class="ui simple dropdown item">
     <i class="setting icon"> </i>Account Settings
    <i class="dropdown icon"></i>
    <div class="menu">
        <a class="item" href="/logout">Logout</a>
         <a class="item" href="/editprofile">Edit Profile</a>
         </div>
         </div>
  </div>
</nav> 

<h1 style="font-family: 'Gloria Hallelujah', serif;" class="ui inverted ${user.colour} block header" >Spacebook Members</h1>
<div  style="background-image: url('/accounts/getpicture'); background-size: cover; height:100%;" class="ui two column grid segment  "> 
	<div class="left floated column">
	#{include "components/members.html" /} 
	</div>
	</div>
