#{extends 'main.html' /} #{set title:'Welcome to Spacebook' /}

<nav class="ui inverted menu">
	<header style="font-family: 'Gloria Hallelujah', serif"
		class="header item"> Spacebook </header>
	<div class="right menu">
		<a class="item" href="/signup"> Signup </a> <a class="item"
			href="/login"> Login </a>
	</div>
</nav>

<section style="background-image: url('/accounts/getpicture3'); background-size: cover; height:100%;" style="font-family: 'Gloria Hallelujah', serif;"
	class="ui raised segment">
	<p>
		<a href="/signup"> Signup</a> or <a href="/login">Log in</a> to the
		Spacebook Service!
	</p>
</section>
<section
	style="background-image: url('/accounts/getpicture2'); background-size: cover; height:100%;"
	class="ui raised segment">
	<div class="ui three column grid "> 
	<div class="right floated column">
	#{include
	"components/userBlogs.html" /}
	</div>
	</div>
	</section>